::root {
  --bgColor: #f3dcd1;
  --accent: #3c0000;
  --primaryColor: #050609;
}

html {
  font-size: 100%;
}

/* 16px */

body {
  background: #f3dcd1;
  font-family: 'Marcellus', serif;
  font-weight: 400;
  line-height: 1.75;
  color: #050609;
}

p {
  margin-bottom: 1rem;
  color: #474747;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Marcellus', serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

small, .text_small {
  font-size: 0.833rem;
}

.btn {
  box-shadow: none !important;
  outline: none !important;
  border-radius: 0 !important;
}

.form-control {
  box-shadow: none;
  outline: none;
  padding: 10px;
  border-color: inherit;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: inherit;
}

textarea:focus {
  border: none;
}

.btn-special {
  background-color: #3c0000;
}

.text-accent {
  color: #3c0000;
}

.vh-50 {
  height: 50vh;
}

.nothing {
  border: 1px solid #3c0000;
}

.nav-link {
  position: relative;
  color: #454545;
}

.nav-link:visited {
  color: #454545;
}

.nav-link.active {
  color: #3C0000 !important;
  font-weight: bold;
  position: relative;
}

.nav-link:hover {
  color: #3C0000 !important;
  font-weight: bold;
}

#topbar .bar-link {
  color: white;
  text-decoration: none;
}

.navbar-brand {
  color: #3c0000 !important;
  font-family: 'Sail';
  font-size: 22px;
  letter-spacing: 1.8px;
}

.cartbadge {
  right: 3px;
}

.extra-tops {
  height: 40px;
  background-color: #050609;
}

.navbar {
  background-color: #F3DCD1;
}

.nav-search-btn svg {
  font-size: 25px;
  color: #050609;
}

.nav-cart-btn svg {
  font-size: 25px;
  color: #050609;
}

.navbar-toggler svg {
  font-size: 30px;
  color: #050609;
}

.dropdown-menu {
  background-color: #f3dcd1;
  border: none;
  transition: all 1s;
}

.dropmenu {
  display: none;
  transition: all 1s;
}

.submenu {
  display: none;
  transition: all 1s;
}

@media (min-width: 992px) {
  .dropcontainer:hover .dropmenu {
    display: block;
    background-color: #f3dcd1;
    border: 1px solid black;
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 115px;
  }
}

@media (min-width: 992px) {
  .dropbox:hover .submenu {
    display: block;
    background-color: #f3dcd1;
    border: 1px solid black;
    position: absolute;
    left: 100%;
    top: 20px;
    /*margin-left: 5px;*/
    min-width: 115px;
  }
}

@media (max-width: 991px) {
  .dropcontainer:hover .dropmenu {
    display: block;
    background-color: #f3dcd1;
    min-width: 115px;
  }
}

@media (max-width: 991px) {
  .dropbox:hover .submenu {
    display: block;
    background-color: #f3dcd1;
    min-width: 115px;
  }
}

@media (min-width: 992px) {
  #topbar .dropmenu ul {
    list-style: none;
    color: #050609;
    /*display: block;*/
  }
}

@media (max-width: 991px) {
  #topbar .dropmenu ul {
    list-style: none;
    color: #050609;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

#topbar .dropmenu ul li a {
  color: #454545;
  text-decoration: none;
  display: block;
}



footer {
  background-color: #3c0000;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}

footer p {
  color: #a39f9f;
}

footer .form-control {
  background: #582828;
  border-color: #582828;
  color: white;
}

footer .form-control:focus {
  background: #582828;
  border-color: #582828;
  color: white;
}

.newsletter {
  max-width: 700px;
}

footer a {
  color: #a39f9f;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: none;
}

.searchbar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: #f3dcd1;
  transition: width .4s ease-in;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  .search-container {
    min-width: 300px;
  }
}

@media (min-width: 768px) {
  .search-container {
    min-width: 700px;
  }
}

.search-container input {
  background-color: transparent;
  border-radius: 0 !important;
  color: #3c0000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #3c0000;
}

.search-container input:focus {
  background-color: transparent;
}

.search-wrapper {
  opacity: 0;
  transition: opacity .2s ease-in;
  overflow-x: hidden;
}

@media (min-width: 769px) {
  .cart-bar {
    height: 100%;
    background-color: #f3dcd1;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    /*z-index: 2000;*/
    transition: width 0.4s ease-in;
    overflow-x: hidden;
  }
}

@media (max-width: 768px) {
  .cart-bar {
    height: 100vh;
    background-color: #f3dcd1;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    z-index: 2000;
    transition: width 0.4s ease-in;
  }
}

.cart-close {
  color: #3c0000;
}

.cart-empty-icon {
  font-size: 200px;
}

.cart-wrapper {
  opacity: 0;
  transition: opacity .5s ease-out;
  overflow-x: hidden;
}

.cart-input {
  width: 30px;
  padding: 0;
  border-radius: 0;
  border: 0;
  text-align: center;
  background-color: transparent;
}

.cart-title {
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  line-height: 0;
  color: #3c0000;
}

.cart-price .real {
  /*text-decoration: line-through;*/
  color: green;
  font-weight: 600;
}

.cart-price .fake {
  text-decoration: line-through;
  color: red;
  font-weight: 600;
}

.cart-box {
  z-index: 2000;
  background-color: rgba(243,220,209, 0.4);
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in;
  overflow-x: hidden;
}

/* home css */

.hero-carousel #carousel {
  height: 20vh;
  width: 100%;
}

#carousel img {
  max-height: 60vh;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

@media (min-width: 768px) {
  .hero-carousel {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding-left: 50px;
    padding-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .hero-carousel {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /*padding: 0 15px 85px;*/
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    /*padding: 0 15px;*/
  }
}

@media (max-width: 320px) {
  .hero-carousel {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 0 15px;*/
    padding-left: 15px;
    padding-right: 15px;
  }
}

.product-container {
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: auto;
}

@media (min-width: 768px) {
  .product-card {
    min-width: 300px;
    max-width: 300px;
    background-color: transparent;
    border-color: transparent;
  }
}

@media (max-width: 767px) {
  .product-card {
    min-width: 45vw;
    max-width: 100%;
    background-color: transparent;
    border-color: transparent;
  }
}

.product-title {
  color: #050609;
  text-decoration: none;
}

.product-title:hover {
  color: #050609;
}

/* width */

.product-container::-webkit-scrollbar {
  height: 2px;
}

/* Track */

.product-container::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px rgba(128,128,128,0);*/
  border-radius: 10px;
}

/* Handle */

.product-container::-webkit-scrollbar-thumb {
  background: #3c0000;
  border-radius: 10px;
}

.cartegory-box {
  background-color: #3c0000;
  aspect-ratio: 1;
  /*background-image: url("../../assets/img/gshock-watch-sports-watch-stopwatch-158741.jpeg");*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  background-position: center;
  overflow: hidden;
}

.category-border {
  border: 1px solid #f3dcd1;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  z-index: 1000;
}

.product-card-grid {
  background-color: transparent;
  border-color: transparent;
}

.hero-parallax {
  width: 100%;
  height: 70vh;
}

/* shop css */

.shop-cartigory a {
  text-decoration: none;
  color: #454545;
}

.shop-cartigory a:hover {
  text-decoration: none;
  color: #050609;
}

.shop-cartigory a.active {
  color: #050609;
  font-weight: bold;
}

.price-filter {
  max-width: 200px;
}

/* product css */

#product-view {
  padding-top: 150px;
}

.activeImage {
  aspect-ratio: 5/4;
  object-fit: cover;
}

.inactiveImage {
  aspect-ratio: 1;
  width: 50px;
  object-fit: cover;
  border: 2px solid #f3dcd1;
  cursor: pointer;
}

.inactiveImage.active {
  border: 2px solid #3c0000;
  width: 60px;
}

.inactiveImage-wrapper {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.cart-input {
  width: 30px;
  padding: 0;
  border-radius: 0;
  border: 0;
  text-align: center;
  background-color: transparent;
}

.product-nav .active {
  border-bottom: 2px solid #3c0000;
}

.review-form {
  max-width: 100%;
}

/* auth css */

@media (max-width: 359px) {
  .special-form {
    margin-top: 120px;
    margin-bottom: 50px;
    max-width: 300px;
  }
}

@media (min-width: 360px) {
  .special-form {
    margin-top: 120px;
    margin-bottom: 50px;
    min-width: 320px;
    max-width: 500px;
  }
}

.special-form input {
  border-color: transparent;
  /*color: white;*/
}

.special-form textarea {
  border-color: transparent;
  /*color: white;*/
}

.special-form input:focus {
  border-color: transparent;
  background-color: #beb5b1;
  /*color: white;*/
}

.special-form textarea:focus {
  border-color: transparent;
  background-color: #beb5b1;
  /*color: white;*/
}

.cart-input:focus {
  background-color: transparent;
}

/* .balablue > img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
} */

